.home-col {
    position: relative;
    /* display: inline-block; */
    max-width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
}

.home-col-centered {
    float: none;
    margin: 0 auto;
    /* align-items: center; */
    /* justify-content: center; */
}

.profile-pic {
    height: 350px;
    width: 350px;
    border: 5px solid black;
    /* box-shadow: 0px 0px 5px 1px grey; */
    margin-bottom: 5px;
    /* box-shadow: 0px 0px 5px 1px var(--primary-color); */
}

.home-btn {
    display: flex !important;
    flex-direction: row;
    border-radius: 5px !important;
    background: white !important;
    border: none !important;
    color: black !important;    
    border: 1px solid black !important;
    font-family: 'Raleway';
    font-weight: 500 !important;
    width: 150px;
    height: 65px;
    align-items: center;
    justify-content: center;
}

.home-btn:hover {
    background-color: black !important;
    color: white !important;
    transform: translateY(-2px);
}

.home-btn:focus {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    box-shadow: none !important;   
    background-color: black !important;
    color: white !important;
}

.home-btn:active {
    transform: translateY(2px) !important;
}

.splash-screen {
    /* height: 100vh; */
    /* width: 100vw; */
    /* margin: 100px; */
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 56px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
    margin-bottom: 50px;
    margin-top: 5px;
  }

  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }