@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

:root {
    /* --primary-color: #4BBCF4;
    --secondary-color: #61C0BF;
    --accent-color: #ffb6b9; */
    --primary-color: black;
    --secondary-color: #D4cab8;
    --accent-color: pink;
    --shadow-color: rgb(221, 221, 221);
    /* OTHERS: #BBDED6, #FAE3D9 */
}

html, body {
    font-family: Raleway, sans-serif;
    height: 100%;
}

span {
    font-family: Raleway, sans-serif;
    font-size: 1.25rem;
}

p {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    padding: 0px;
    margin: 0px !important;
}

.header {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: var(--secondary-color)
}

.borderless {
    border: none !important;
}

.nav-offset {
    margin-top: 56px;
}

.center-column {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 15vw !important;
    padding-right: 15vw !important; */
    max-width: 55vw !important;
}