.section-header {
    font-family: 'Raleway';
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
}

.btn {
    border-radius: 0px !important;
    background: white !important;
    border: none !important;
    /* width: fit-content !important; */
    /* height: fit-content !important; */
}

.btn:hover {
    background-color: #efefef !important;
    transition: .5s;
    /* border: 1px solid lightgrey !important; */
    /* transform: translate3d(-1px, -1px, 0px) !important; */
}

.recipe {
    padding: 25px !important;
}

.recipe-img {
    height: 200px;
    width: 200px;
    border-radius: 75px;
    margin-bottom: 25px;
}

.recipe-label {
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.recipe-category {
    color: black;
    font-size: 16px;
    font-weight: 300;
}

.section {
    margin-bottom: 30px;
}