.section-header {
    font-family: 'Raleway';
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
}

.section-desc {
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 400;
    color: var(--secondary-color);
}

.btn {
    border-radius: 0px !important;
    background: white !important;
    border: none !important;
    /* padding: 0px !important; */
    /* width: fit-content !important; */
    /* height: fit-content !important; */
}

.btn:hover {
    background-color: #efefef !important;
    transition: .2s;
    /* border: 1px solid lightgrey !important; */
    transform: translateY(-5px) !important;
}

.btn:focus {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    box-shadow: none !important;    
}

.btn:active {
    transform: translateY(5px) !important;
}

.modal {
    font-family: Raleway;
}

.modal-btn {
    display: flex;
    flex-direction: row;
    border-radius: 10px !important;
    background-color: white !important;
    color: var(--accent-color) !important;
    border: 2px solid var(--accent-color) !important;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-weight: 500 !important;
}

.modal-btn:hover {
    background-color: var(--accent-color) !important;
    color: white !important;
    transform: translateY(-3px);
}

.recipe {
    padding: 25px !important;
    max-width: 250px;
    height: 100%;
}

.recipe-img {
    height: 200px;
    width: 200px;
    border-radius: 75px;
    margin-bottom: 25px;
}

.recipe-label {
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.recipe-category {
    color: black;
    font-size: 16px;
    font-weight: 300;
}

.section {
    margin-bottom: 30px;
}